/*---------- Импорт шрифтов --- НАЧАЛО ----------*/
/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'BebasRegular';
	src: url('../fonts/BebasRegular/BebasRegular.eot');
	src: url('../fonts/BebasRegular/BebasRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/BebasRegular/BebasRegular.woff') format('woff'),
		 url('../fonts/BebasRegular/BebasRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RobotoCondensedRegular';
	src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot');
	src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'),
		 url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'BebasLight';
	src: url('../fonts/BebasLight/BebasLight.eot');
	src: url('../fonts/BebasLight/BebasLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/BebasLight/BebasLight.woff') format('woff'),
		 url('../fonts/BebasLight/BebasLight.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'BebasBold';
	src: url('../fonts/BebasBold/BebasBold.eot');
	src: url('../fonts/BebasBold/BebasBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/BebasBold/BebasBold.woff') format('woff'),
		 url('../fonts/BebasBold/BebasBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}


/*---------- Импорт шрифтов --- КОНЕЦ ----------*/



/*---------- Общие настройки --- НАЧАЛО ----------*/
body {
    font: 16px "RobotoRegular", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a,
a:focus {
    outline: none;
}
/*---------- Общие настройки --- КОНЕЦ ----------*/

/*---------- HEADER --- НАЧАЛО ----------*/
header {
    background: #191919 url(../img/header-bg.jpg) no-repeat;
    background-position: center -120px;
    min-height: 644px;
    position: relative;
    font: bold 20px 'BebasRegular', Arial, sans-serif;
}

header a {
    color: #fff;
}

.top_line {
    background: rgba(0, 0, 0, .6);
    min-height: 97px;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    width: 100%;
    padding: 22px 0;
}

.top_line a {
    font-size: 21px;
    border-bottom: 1px #fff dashed;
    letter-spacing: 1px;
}

.top_line a:hover {
    border-bottom: 1px solid #fff;
}

.top_addr {
    padding: 0 0 10px 50px;
    background: url(../img/top_map.png) no-repeat center left;
    line-height: 16px;
}

.left_addr a {
    border-bottom: 0;
    color: #d12f22;
    margin-left: 10px;
}

.left_addr a:hover {
    border-bottom: none;
}

.left_addr a:first-child {
    margin-left: 0;
}

.img-responsive {
	max-width: 100%;
}

.top_addr strong {
    display: block;
    color: #d12f22;
    text-transform: uppercase;
    font: bold 32px 'BebasRegular', Arial, sans-serif;
}

.top_addr a {
    text-decoration: none;
}

.top_addr a:hover {
    text-decoration: none;
    color: #fff;
}

.logo_wrap {
    position: relative;
    width: 249px;
    margin: 0 auto;
}

a.logo {
    position: absolute;
    top: -10px;
    border: 0;
    z-index: 10;
}

a.logo:hover {
    border: 0;
}

.ta_right {
    background: 0;
    padding: 0;
    text-align: right;
}

.ta_right span {
    color: #fff;
}

.head {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    min-height: 600px;
}
.head::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    z-index: -1;
}

header h1 {
    
    text-align: center;
    color: #fff;
    margin-top: 100px;
    font-size: 50px;
    line-height: 65px;
    text-shadow: 0 3px 0 rgba(0, 0, 0, .55);
    font-weight: normal;
}

.buttons_top {
    position: absolute;
    width: 100%;
    bottom: 32px;
}

header .button {
    margin-right: 20px;
}

.button {
    display: inline-block;
    background: #d12f22;
    height: 50px;
    vertical-align: middle;
    line-height: 53px;
    padding: 0 24px;
    border: none;
    border-bottom: 3px solid #ac160a;
    letter-spacing: 1px;
    font-weight: normal;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.button:hover {
    background-color: #d12f22;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
}

.eval_price {
    line-height: 19px;
    padding: 3px 20px 0 65px;
    text-align: left;
    background: #b10d00 url(../img/camera_icon.png) no-repeat 8px 7px;
}
/*---------- HEADER --- КОНЕЦ ----------*/

/*---------- Верхняя навигационная панель --- НАЧАЛО ----------*/

.top_menu {
    height: 62px;
    background-color: #242424;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    font: 20px 'BebasRegular', Arial, sans-serif;
}

.top_menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    letter-spacing: -50px;
    font-size: 0;
}

.top_menu li {
    display: inline-block;
    letter-spacing: normal;
    font-size: 20px;
}

.top_menu a {
    color: #fff;
    display: block;
    padding: 0 26px 0 50px;
    line-height: 62px;
    border-left: 1px solid #3b3b3b;
    background: url(../img/top_menu_icons_set.png) no-repeat 20px 16px;
}

.top_menu li:nth-child(2) a {
    background-position: 20px -38px;
}

.top_menu li:nth-child(3) a {
    background-position: 23px -87px;
}

.top_menu li:nth-child(4) a {
    background-position: 16px -135px;
}

.top_menu li:nth-child(5) a {
    background-position: 18px -191px;
}

.top_menu li:nth-child(6) a {
    background-position: 20px -253px;
}

.top_menu li:last-child a {
    border-right: 1px solid #3b3b3b;
}

.top_menu li.active a,
.top_menu li:hover {
    background-color: #050505;
    text-decoration: none;
}

.top_menu li:hover a {
	text-decoration: none;
}

.warranty {
    float: right;
    padding: 1px 5px;
    margin-top: 7px;
    color: #d12f22;
    cursor: default;
    font-size: 15px;
    border: 3px solid #d12f22;
    border-radius: 5px;
    line-height: 16px;
}

.warranty_left,
.warranty_right {
    display: inline-block;
    vertical-align: middle;
}

.warranty_left {
    font: bold 33px 'BebasRegular', Arial, sans-serif;
    text-transform: lowercase;
    padding-right: 7px;
}

.warranty_left span {
    font-size: 20px;
}

.warranty_right {
    font-family: 'RobotoCondensedRegular', Arial, sans-serif;
    text-transform: uppercase;
}
/*---------- Верхняя навигационная панель --- КОНЕЦ ----------*/

/*---------- Секция с основным центральным меню --- НАЧАЛО ----------*/
.main_services_wrap {
    background-color: #191919;
    padding: 20px 0 20px;
    text-align: center;
}

.dop__service {
	padding-bottom: 70px;
}

section {
	font: 36px 'BebasRegular', Arial, sans-serif;
	text-align: center;
	background: #fff;
}



.price-section h2,
.main_services_wrap h2 {
    text-transform: uppercase;
    color: #c9c9c9;
    font-size: 40px;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}



.main_services_wrap h2::before,
.content h2::before,
.price-section h2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: url(../img/decor_lines_service_header.png);
    top: 50%;
    transform: translateY(-50%);
    left: -65px;
}

.main_services_wrap h2::after,
.price-section h2::after,
.content h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: url(../img/decor_lines_service_header.png) -50px 0;
    top: 50%;
    transform: translateY(-50%);
    right: -65px;
    margin-left: 11px;
}





.services_main_part {
    list-style-type: none;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    position: relative;
}


.services_main_part li {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 5px;
    vertical-align: top;
    color: #fff;
}

.services_main_part li a {
	text-decoration: none;
}

.dop__service .services_main_part li{
	width: calc( 100%/6 );
	padding: 5px;
}

@media screen and (min-width:0\0) {  
    /*Хак для IE9 и IE10 убирающий стрелки, т.к. они норм. не отображаются*/  
    .services_main_part >li.arr::after {
        content: '';
        display: none;
    }
}

.services_main_part li.active a,
.services_main_part li a:hover {
    background: #2a2a2a;
}

.services_main_part a {
    display: block;
    color: #fff;
    padding: 20px;
    border: 1px solid #353535;
}



.about__us {
	font-size: 16px;
	font-family: "RobotoRegular", sans-serif;
	text-align: left;
}

.about__us h2 {
	font-family: "BebasRegular", sans-serif;
}

.about__us h2::before,
.about__us h2::after {
	display: none;
}

.about__us .button {
	font-family: "BebasRegular", sans-serif;
	color: #fff;
	text-decoration: none;
}

.services_main_part span {
    display: block;
    height: 83px;
    width: 104px;
    font-size: 70px;
    color: #d12f22;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: content-box;
}

.services_main_part h4 {
    margin: 0;
    font: 20px 'BebasRegular', Arial, sans-serif;
}

.services_main_part_dop h4 {
	font-size: 17px;
}

.services_main_part_dop a {
	padding: 15px;
}


.serv_arrow {
    height: 26px;
    margin-top: 9px;
    background: #212121 url(../img/services_arrows.png) no-repeat center -18px;
}

.active .serv_arrow,
.services_main_part li:hover .serv_arrow {
    background-color: #353535;
    background-position: center 10px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/*---------- Вложенное меню --- НАЧАЛО ---------- */
.services_main_part ul {
    margin: 20px 37px 0 0;
    padding: 10px 0;
    position: absolute;
    left: 36px;
    background: #353535;
    max-width: 1170px;
    text-align: center;
    z-index: 10;
    display: none;
}

.services_main_part ul li {
    margin: 0 5px;
    padding: 3px;
    border: 0;
    display: inline-block;
    text-align: center;
    border: 2px dotted #666;
    background: #191919;
}

.services_main_part ul li:hover {
    background: none;
}

.services_main_part ul li a {
    font-size: 20px;
    padding: 0;
    margin: 0;
}
/*---------- Вложенное меню --- КОНЕЦ ---------- */
.main_services_wrap .button,
.content_footer .button {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}
/*---------- Секция с основным центральным меню --- КОНЕЦ ----------*/

/*---------- Секция с контентом (article) --- НАЧАЛО ----------*/
.content {
    background: #d6d6d6;
    text-align: center;
    color: #050505;
}

.price__table {
	font-size: 22px;
	width: 100%;
	margin-bottom: 47px;
}

.price__table td:first-child {
	text-align: left;
}

.price__table th:first-child{
	width: 22%;
}



.price__table td,
.price__table th {
	width: 13%;
	border: 1px solid #000;
	padding: 15px 10px;
}

section.white__section {
	color: #050505;
	padding: 40px 0;
}

.price-section h2 {
	color: #000;
}

.content_head h2 {
    font: bold 36px "BebasRegular";
    margin-bottom: 20px;
}

.content_head h2::before {
    background: url(../img/decor_lines_content.png);
    top: 42px;
    left: 240px;
}

.content_head h2::after {
    background: url(../img/decor_lines_content.png) -50px 0;
    top: 42px;
    margin-left: 11px;
}

.content_head p {
    max-width: 790px;
    font-weight: bold;
    margin: 0 auto 20px;
}

.content_head {
    background: #e9e9e9;
}

.content_main {
    background: #d6d6d6;
    padding-top: 30px;
}

.content_main img {
    border-top: 8px solid red;
}

.content_main figcaption {
    padding: 25px 10px 30px;
    font: bold 14px "RobotoRegular", Arial, sans-serif;
}

.content_footer {
    background: #fff;
    padding-top: 30px;
}

.content_footer h2 {
    text-align: left;
    font: bold 36px "BebasRegular", Arial, sans-serif;
    margin: 0;
}

.content_footer h2::before,
.content_footer h2::after {
    content: "";
    display: none;
}

.content_footer .button {
    margin: 0;
    font-family: "BebasRegular", Arial, sans-serif;
}

.content_footer p {
    font: 16px "RobotoCondensedRegular", Arial, sans-serif;
    text-align: justify;
    padding-right: 5px;
}

.content_footer p:last-child {
    margin-bottom: 0;
}
/*---------- Секция с контентом (article) --- КОНЕЦ ----------*/




.contact__section {
	position: relative;
	top: -50px;
	padding-top: 250px;
	padding-bottom: 100px;
	background-image: url('../img/contact__bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.contact__section .form__wrap {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 0;
	color: #fff;
	padding: 50px 60px;
	max-width: 100%;
}
.contact__section form {
	max-width: 100%;
	background: transparent;
	color: #fff;
}

.contact__section .tal {
	text-align: left;
}


.contact__section .form__desc {
	display: block;
	font-size: 20px;
	margin-bottom: 40px;
}

.contact__section input::-webkit-input-placeholder,
.contact__section input::-moz-placeholder,
.contact__section input:-moz-placeholder,
.contact__section input:-ms-input-placeholder {
	color: #fff;
}




.contact__section input {
	border: 1px solid rgba(255, 255, 255, .7);
	background: transparent;
	padding: 10px 10px;
	font-size: 20px;
	width: 100%;
	padding-top: 15px;
	font-family: "BebasRegular", Arial, sans-serif;
	margin-bottom: 50px;
}


.contact__head {
	font-family: "BebasLight", sans-serif;
	margin-bottom: 20px;
}

.contact__head .fa {
	color: #d12f22;
	margin-right: 10px;
	font-size: 23px;
}


.contact__head p {
	margin-top: 5px;
	display: block;
}

.contact__head .phone {
	color: #fff;
	font-family: "BebasRegular", sans-serif;
	display: block;
	margin-top: 5px;
}


/*---------- FOOTER --- НАЧАЛО ----------*/
.main_footer {
    background: #2a2a2a;
    color: #fff;
    font: 18px "BebasRegular", Arial, sans-serif;
    padding: 30px 0;
}

.main_footer a {
    color: #fff;
}

.copyright {
    letter-spacing: 1px;
}

.main_footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main_footer li {
    display: inline-block;
}

.main_footer li a {
    display: block;
    padding: 0 15px;
    line-height: 71px;
}

.main_footer li a:hover {
    text-decoration: underline;
}

.counter {
    display: block;
    text-align: right;
    line-height: 71px;
}

.photo__gallery h2 {
    margin-bottom: 50px;
}


.reviews{
    padding: 50px;
}

.reviews h2 {
    display: block;
    margin-bottom: 30px;
}

.reviews__items {
    position: relative;
    padding: 60px 30px;
    border: 1px solid #000;
    border-radius: 10px;
}

.reviews__items .owl-dots {
    width: 100%;
    text-align: center;
}

.reviews__items .owl-dot {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .5) !important;
    border-radius: 50%;
    margin: 0 10px;
}

.reviews__items .owl-dot.active{
    background: #d12f22 !important;
}

.review__item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.review__item img {
    max-height: 100%;
    height: 100%;
    width: 30%;
}

.review__item p {
    font-size: 16px;
    text-transform: none;
    width: 70%;
    padding-left: 100px;
    font-family: "RobotoRegular";
    color: #000;
    text-align: left;
}

.review__photo {
    height: 200px;
    overflow: hidden;
}

.review__photo img {
    height: 100%;
    width: auto !important;
}

.photo__gallery {
    padding: 50px 0;
}


.photo__items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.photo__item__wrap {
    width: 25%;
    text-align: center;
    padding: 5px;
}

.photo__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
}

.photo__item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    left: 0;
    top: 0;
}


.photo__item img {
    position: relative;
    transform: scale(1);
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 5px;
}



/*---------- FOOTER --- КОНЕЦ ----------*/
/*---------- Форма обратного звонка --- НАЧАЛО ----------*/
form {
    background: rgba(255,255,255,0.7);
    color: #000;
    max-width: 400px;
    margin: 0 auto;
    z-index: 20;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font: normal 21px 'BebasRegular', Arial, sans-serif;
    letter-spacing: 1px;
}
fieldset {
    border-color: #808080;
}
legend {
    font-weight: bold;
}
label {
    display: block;
    padding-bottom: 10px;
    margin-right: 10px;
}
input {
    width: 280px;
    margin-top: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    font: 15px Verdana, sans-serif;
    line-height: 22px;
}
input[type="reset"] {
    font-size: 17px;
    width: auto;
    font: normal 21px 'BebasRegular', Arial, sans-serif;
}
input[type="submit"]{
    font: normal 21px 'BebasRegular', Arial, sans-serif;
}
#request {
    max-width: 500px;
}
#request label {
    padding-bottom: 3px;
}
textarea {
    display: inline-block;
    resize: none;
    font: 15px Verdana, sans-serif;
}
textarea::-moz-placeholder, input::-moz-placeholder {font: normal 21px 'BebasRegular', Arial, sans-serif;}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { font: normal 21px 'BebasRegular', Arial, sans-serif; }
textarea:-ms-input-placeholder, input:-ms-input-placeholder { font: normal 21px 'BebasRegular', Arial, sans-serif; }
textarea::-ms-input-placeholder, input::-ms-input-placeholder { font: normal 21px 'BebasRegular', Arial, sans-serif; }
textarea::placeholder, input::placeholder { font: normal 21px 'BebasRegular', Arial, sans-serif; }
/*---------- Форма обратного звонка --- КОНЕЦ ----------*/






/*Меди запросы*/


@media screen and (max-width: 990px) {
	.services_main_part li {
		width: 50%;
	}

	.dop__service .services_main_part li {
		width: 50%;
	}

	.main_services_wrap h2 {
		margin: 40px 0;
	}



	.form__wrap button {
		margin-bottom: 40px;
	}

	.contact__section input {
		margin-bottom: 15px;
	}

	.contact__head {
		text-align: center;
	}

	.about__us img {
		margin-bottom: 20px;
		margin: 30px auto;
	}

    .review__item {
        flex-wrap: wrap;
    }

    .review__photo {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .review__photo img {
        max-width: 300px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .review__text {
        width: 100% !important;
        padding-left: 0 !important;
    }

    .photo__item__wrap {
        width: 50%;
    }
}


@media screen and (max-width: 768px) {

	.dop__service {
		padding-bottom: 60px;
	}

	.top_menu ul {
		display: none;
		position: absolute;
		top: 120px;
		right: 10px;
		background: #000;
		z-index: 2;
		width: 200px;
	}

	.top_menu {
		height: auto;
	}

	.top_menu ul li {
		display: block;
	}

	.top_menu ul li a {
		background: none;
		line-height: 40px;
	}

	.price-section .ovy {
		overflow-x: scroll;
	}

	.price__table {
		font-size: 18px;
	}

	.price-section h2, .main_services_wrap h2 {
		font-size: 28px;
	}

	a.logo {
		position: relative;
		display: block;
		top: -20px;
	}

	.top_addr a {
		display: none;
	}

	.top_addr.ta_right {
		text-align: center;
	}

	.wrapper-menu {
		position: absolute;
		top: 50px;
		right: 20px;
		width: 40px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		transition: transform 330ms ease-out;
	}

	.wrapper-menu.open {
	  transform: rotate(-45deg);  
	}

	.line-menu {
	  background-color: #fff;
	  border-radius: 5px;
	  width: 100%;
	  height: 6px;
	}

	.line-menu.half {
	  width: 50%;
	}

	.line-menu.start {
	  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	  transform-origin: right;
	}

	.open .line-menu.start {
	  transform: rotate(-90deg) translateX(3px);
	}

	.line-menu.end {
	  align-self: flex-end;
	  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	  transform-origin: left;
	}

	.open .line-menu.end {
	  transform: rotate(-90deg) translateX(-3px);
	}

	.logo_wrap {
		width: 180px;
	}

	.logo_wrap img {
		width: 100%;
	}

	.head {
		text-align: center;
		min-height: 400px
	}

	header h1 {
		font-size: 40px;
		line-height: 55px;
	}

	.copyright {
		text-align: center;
	}

	footer nav {
		display: none;
	}

    .photo__item__wrap {
        width: 100%;
    }

    .photo__items .owl-dots {
        width: 100%;
    }

    .photo__items .owl-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(0, 0, 0, .5) !important;
        display: inline-block;
        margin: 0 10px;
    }

    .photo__items .owl-dot.active {
        background: #d12f22 !important;
    }
}

@media screen and (max-width: 480px) {
	.services_main_part li {
		width: 100%;
	}

	.dop__service .services_main_part li {
		width: 100%;
	}

	.price__table {
		font-size: 16px;

	}

	.price__table td, 
	.price__table th {
		padding: 13px 6px;
	}

	h2::before,
	h2::after{
		display: none;
	}

    .reviews {
        display: none;
    }



	.contact__section {
		padding-top: 100px;
	}

	.contact__section .form__desc {
		margin-bottom: 0;
	}

	.contact__section .form__wrap {
		padding: 40px 30px;
	}
	
	.contact__head {
		font-size: 20px;
	}


}