@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?onqvrw');
  src:  url('fonts/icomoon.eot?onqvrw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?onqvrw') format('truetype'),
    url('fonts/icomoon.woff?onqvrw') format('woff'),
    url('fonts/icomoon.svg?onqvrw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dop1:before {
  content: "\e900";
}
.icon-dop2:before {
  content: "\e901";
}
.icon-dop3:before {
  content: "\e902";
}
.icon-dop4:before {
  content: "\e903";
}
.icon-dop5:before {
  content: "\e904";
}
.icon-dop6:before {
  content: "\e905";
}
.icon-icon:before {
  content: "\e906";
}
.icon-icon2:before {
  content: "\e907";
}
.icon-icon3:before {
  content: "\e908";
}
.icon-icon4:before {
  content: "\e909";
}
.icon-icon5:before {
  content: "\e90a";
}
.icon-icon6:before {
  content: "\e90b";
}
.icon-icon7:before {
  content: "\e90c";
}
.icon-icon8:before {
  content: "\e90d";
}
